<!DOCTYPE html>
<html>
<head
	th:replace="/common/head :: head_fragment(title = 'test', scripts = ~{::script}, links = ~{::link})"></head>
<body>
	<div th:if="${exception}" th:text="${exception}" class="danger"></div>
	<div th:if="${updateRequest}" class="container"
		th:object="${updateRequest}">
		<div class="card">
			<div class="card-body">
				<form action="#" method="post">
					<h4 class="card-title" th:text="*{id}"></h4>
					<input class="card-text" th:field="*{name}" />
					<p th:if="${shop}" class="control-label" th:text="${shop.name}"></p>
					<div class="form-group" th:if="${shop == null}">
						<label class="control-label" for="exampleSelect">Shop</label> <select
							class="form-control" id="exampleSelect" name="shopId">
							<option th:each="item : ${shopsRequest}" th:value="${item.id}"
								th:text="${item.name}" th:selected="${updateRequest.shopId} == ${item.id}"></option>
						</select>
					</div>

					<div class="form-group">
						<label class="control-label" for="exampleMSelect">Categories</label>
						<select class="form-control" id="exampleMSelect"
							th:field="${categoriesOfProductRequest.listId}"
							multiple="multiple" size="6">
							<option th:each="item : ${categoriesRequest}"
								th:value="${item.id}" th:text="${item.name}"></option>
						</select>
					</div>
					<a th:if="*{shopId}" th:href="@{/shop/{id} (id=*{shopId})}"
						class="btn btn-warning">back</a> <input hidden="true"
						th:field="*{id}"> <input hidden="true"
						th:field="*{updateDate}"> <input th:if="*{shopId}"
						hidden="true" th:field="*{shopId}">
					<button type="submit" class="btn btn-danger">update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>