<!DOCTYPE html>
<html>
<head
	th:replace="/common/head :: head_fragment(title = 'test', scripts = ~{::script}, links = ~{::link})"></head>
<body>
	<div th:if="${exception}" th:text="${exception}" class="danger"></div>
	<div th:if="${updateRequest}" class="container" th:object="${updateRequest}">
		<div class="card">
			<div class="card-body">
				<form action="#" method="post">
					<h4 class="card-title" th:text="*{id}"></h4>
					<input class="card-text" th:field="*{name}"/>
					<a th:href="@{/shop/{id} (id=*{id})}"class="btn btn-warning">back</a>
					<input hidden="true" th:field="*{id}"> <input
						hidden="true" th:field="*{updateDate}">
					<button type="submit" class="btn btn-danger">update</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>