<!DOCTYPE html>
<html>
<head
	th:replace="/common/head :: head_fragment(title = 'test', scripts = ~{::script}, links = ~{::link})"></head>
<body>
<div class="container">
<a href="/shop/create" class="btn btn-primary">create</a>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Name</th>
					<th scope="col">update date</th>
					<th scope="col">create date</th>
					<th scope="col">options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shop : ${shopList}" th:object="${shop}">
					<th scope="row" th:text="*{id}"></th>
					<td  th:text="*{name}"></td>
					<td  th:text="*{updateDate}"></td>
					<td  th:text="*{createDate}"></td>
					<td> 
					<a th:href="@{/shop/{id} (id=*{id})}" th:text="infomation"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>